*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // this defines 1 rem
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  color: $color-black;
  font-family: "open sans", sans-serif;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $primary-color-light;
  }

  &:visited {
    color: $primary-color-dark;
  }
}

h1,
h2,
h3,
h4 {
  font-family: georgia, serif;
}
