.form-container {
  display: grid;
  justify-items: center;
  margin-top: 5rem;
  margin-bottom: 20rem;
}

.contact-form {
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.1),
    0 0.6rem 2rem 0 rgba(0, 0, 0, 0.09);
  display: grid;
  height: 100%;
  justify-content: center;
  margin-top: 3rem;
  padding-top: 3rem;
  width: 50%;
}

.form-control {
  border: solid 2px lighten($color-black, 50%);
  font-size: 1.6rem;
  resize: none;
}

.form-group {
  margin-top: 2rem;
}

.form-label {
  font-size: 2rem;
}
