.contact-form {
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.1),
    0 0.6rem 2rem 0 rgba(0, 0, 0, 0.09);
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 12rem;
  padding: 3rem 9rem;
  width: 60%;
}

.form-container {
  margin-top: 2rem;
}

.form-control {
  border: solid 1px lighten($color-black, 40%);
  font-size: 1.6rem;
  outline: none;
  resize: none;
}

.form-label {
  font-size: 2rem;
}
