.faq__answer {
  font-size: 1.6rem;
  margin: 5rem 12rem;
}

.faq__question {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.faqs {
  margin: 0 auto;
  margin-bottom: 8rem;
  width: 80%;
}
