.footer {
  background-color: $primary-color;
  color: $text-color-light;
  height: 20rem;
  width: 100%;

  &__attribution {
    font-size: 1.4rem;
  }

  &__contact {
    float: left;
    line-height: 1.4;
    margin-left: 6rem;
    margin-top: 6rem;
  }

  &__contact-info {
    color: $text-color-light;
    font-size: 1.6rem;
  }

  & a {
    color: $text-color-light;
    text-decoration: none;
  }
}

.social-bar {
  float: right;
  font-size: 2.6rem;
  letter-spacing: 5px;
  margin-right: 6rem;
  margin-top: 7rem;
}
