.footer {
  align-items: center;
  background-color: $primary-color;
  display: grid;
  grid-template-columns: 1fr 20rem;
  height: 20rem;
  justify-content: center;
  line-height: 2.4rem;

  &__attribution {
    color: $text-color-light;
    font-size: 1.6rem;
  }

  &__contact {
    margin-left: 10rem;
  }

  &__contact-info {
    color: $text-color-light;
    font-size: 1.6rem;
  }

  & a {
    text-decoration: none;
    color: $text-color-light;
  }

  .social-icon {
    height: 2rem;
    margin-right: 1.6rem;
    width: 2rem;
  }
}
