.header {
  height: 10rem;
  margin-bottom: 3rem;
  position: relative;

  @include respond(tab-port) {
    height: 8rem;
    margin-bottom: 2rem;
  }

  @include respond(phone) {
    height: 6rem;
    margin-bottom: 1rem;
  }

  &__logo {
    & img {
      height: 7rem;
      object-fit: contain;
      left: 2rem;
      position: absolute;
      top: 2rem;

      @include respond(tab-port) {
        height: 6rem;
        width: 25rem;
      }

      @include respond(phone) {
        height: 5rem;
        left: 1rem;
        top: 0.8rem;
        width: 20rem;
      }
    }
  }

  &__phone {
    position: absolute;
    right: 3rem;
    top: 50%;

    @include respond(phone) {
      right: 1.5rem;
      top: 3rem;
    }
  }

  &__phone a {
    color: $primary-color;
    font-size: 1.8rem;
    text-decoration: none;

    @include respond(tab-port) {
      font-size: 1.4rem;
    }

    @include respond(phone) {
      font-size: 1.2rem;
    }
  }
}
