.header {
  height: 12rem;
  margin-bottom: 3rem;

  &__logo {
    margin: 3rem;
    margin-left: 5rem;

    & img {
      height: 8rem;
    }
  }

  &__phone {
    padding-top: 2rem;
    margin-right: 5rem;
  }

  &__phone a {
    color: $primary-color;
    font-size: 1.8rem;
    text-decoration: none;
  }
}
