.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.hero-image {
  width: 100%;
}

.section__text {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin: 5rem 12rem;

  @include respond(tab-port) {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 3rem 10rem;
  }

  @include respond(phone) {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 2rem 5rem;
  }
}

.section__title {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;

  @include respond(tab-port) {
    font-size: 1.8rem;
  }

  @include respond(phone) {
    font-size: 1.6rem;
  }
}

.tagline {
  font-family: georgia, serif;
  font-size: 2.6rem;

  @include respond(tab-port) {
    font-size: 2rem;
  }

  @include respond(phone) {
    font-size: 1.5rem;
    padding: 0 1rem;
  }
}

.tagline__container {
  margin-bottom: 5rem;
  margin-top: 5rem;
  text-align: center;

  @include respond(tab-port) {
    margin: 3rem 0;
  }
}
