.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.btn {
  align-items: center;
  border: none;
  border-radius: 10rem;
  display: grid;
  font-size: 2rem;
  height: 4rem;
  justify-self: center;
  width: 20rem;
}

.btn-container {
  align-self: center;
  display: grid;
}

.btn-submit {
  background-color: $primary-color;
  color: $text-color-light;
  margin-bottom: 2rem;
  margin-top: 3rem;
  transition: all 0.2s;

  &:hover {
    background-color: lighten($primary-color, 5%);
    color: $text-color-light;
    outline: none;
    transform: translateY(-3px);
  }

  &:active {
    outline: none;
    transform: translateY(-1px);
  }
}

.faqs {
  margin-top: 5rem;
}

.hero-image {
  width: 100%;
}

.section__text {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin: 5rem 12rem;
}

.section__title {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}

.tagline {
  font-family: georgia, serif;
  font-size: 2.6rem;
}

.tagline__container {
  margin-bottom: 5rem;
  margin-top: 5rem;
  text-align: center;
}
