.menu {
  background-color: $primary-color;

  @include respond(phone) {
    display: none;
  }

  &__list {
    list-style: none;
  }

  &__item {
    color: $text-color-light;
    font-size: 1.8rem;

    @include respond(tab-port) {
      font-size: 1.4rem;
    }
  }

  & a {
    text-decoration: none;
    color: $text-color-light;
  }
}
