//colors
$primary-color: #007c21;
$primary-color-light: #2aab4c;
$primary-color-medium: #0d5931;
$primary-color-dark: #004111;

$color-black: #313639;
$color-super-black: #000;
$color-white: #fff;

$text-color-dark: #313639;
$text-color-light: #fff;
